@import "tailwindcss";
@config "../../tailwind.config.mjs";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-light-sky-blue bg-radial-[at_-80%_-90%] from-light-sky-blue to-cloudy;

}
